
*{
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4 {
  font: "Fraunces", light;
}
body{
    background-color: aliceblue;
}
.space-btw{
    display: flex;
    justify-content: space-between;
}
.main-square{
    background-color: hsl(35, 60%, 96%);
    margin: 60px;
    padding-bottom: 40px;
}
.very-top{
    display: flex;
}
.DMmono{
    font-family: "DM Mono";
    font-size: x-small;
    color: hsl(32, 20%, 29%);
}
.DMsans{
    font-family: "DM Sans";
}
.Fraunces{
    font-family: "Fraunces";
    font-weight: 400; 
}
.top-left{
    margin: 15px 15px 5px 25px;
}
.top-buttons{
    display: flex;
    margin-top: 2%;
    margin-right: 20px;
}
.top-buttons *{
    height: 20px;
    width: 85px;
    border-radius: 20px;
    font-size: 9px;
    font-weight: 800;
    margin-right: 10px;
    font-family: "DM Sans";
}
.top-left i{
    color: hsl(15, 69%, 37%);
    padding-left: 5px;
}
.welcome-card i{
    color: hsl(42, 83%, 58%);
}
.print-receipt{
    border-width: 1px;
    background-color: hsl(35, 60%, 96%);
    border-color: hsl(33, 17%, 41%);
}
.calendar{
    border: 0;
    background-color: hsl(33, 22%, 20%);
    color: white;
}
.space{
    display: flex;
    justify-content: center;
}
.space .welcome-card,.receipt{
    width: 300px;
    height: 300px;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    transition: transform 0.4s ease;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}
.receipt{
    background-color: white;
    transform: rotate(-6deg);
}
.receipt *{
    margin-bottom: 4px;
}
.checking *{
    text-align: center;
}
.check-out{
    justify-content: center;
}
.welcome-title p{
    margin-top: 10px;
}
.welcome-card hr{
    border:1.4px hsl(22, 72%, 56%) dashed;
    margin-bottom: 8px;
}
.welcome-card{
    background: linear-gradient(1353deg, hsl(15, 74%, 41%), hsl(18, 62%, 47%), hsl(22, 72%, 56%));
    transform: rotate(4deg);
    margin-left: -30px;
}
.welcome-card p{
    color: hsl(35, 60%, 96%);
    margin-top: 15px;
}
.welcome-card h1, h3{
    color: hsl(35, 60%, 96%);
}
.space:hover .receipt {
    transform: rotate(-10deg) translateX(-30px);
}
.space:hover .welcome-card {
    transform: rotate(8deg) translateX(30px);
}
.middle-thing{
    display: flex;
    justify-content: center;
    font-size: 8px;
}
.middle-thing *{
    padding: 10px 3px 0 3px;
}
.extra{
    display: flex;
    justify-content: center;
}
.block{
    width: 350px;
    background-color: white;
    margin: 10px;
    border-radius: 15px;
    padding-bottom: 15px;
}
.block p{
    margin: 8px 15px 0 15px;
}
.block h2{
    margin: 10px 15px 0 15px;
}

.subsection{
    margin: 15px;
}
.subsection h4{
    font-family: "DM Mono";
    font-weight: 500;
    margin-top: 6px;
}
.subsection h3{
    font-family: "Fraunces";
    font-weight: light;
    font-size: larger;
    margin-top: 6px;
}

.subsection-paragraph{
    font-family: "DM Sans";
    font-size: small;
}
.subsection-intro{
    font-family: "DM Sans";
    font-size: smaller;
    color: hsl(32, 13%, 47%);

}
.wifi-stuff{
    background-color: hsl(60, 2%, 88%);
    border-radius: 8px;
    border-width: 5px;
    border-color: white;
    margin: 2px 10px 0 10px;

}

.title-thing1{
    color: hsl(15, 69%, 37%);
}
.title-thing2{
    color: hsl(230, 49%, 56%);
}
.title-thing3{
    color: hsl(340, 48%, 52%);
}

.block img{
    border-radius: 5px;
    margin-right: 8px;
    padding: 5px;
}
.title-thing1 img{
    background-color: hsl(15, 69%, 37%);
}
.title-thing2 img{
    background-color: hsl(230, 49%, 56%);
}
.title-thing3 img{
    background-color: hsl(340, 48%, 52%);
}